# ENV files (çok kritik)
.env
.env.*
*.env
.venv
# Node modules
web/node_modules/
web/.vite/
web/dist/

# Python
__pycache__/
*.pyc

# SQLite
*.db
*.db-shm
*.db-wal
/data

# Keystore dosyaları
*.keystore
# Ignore JSON files except for package.json, package-lock.json, and i18n translations
*.json
!web/package.json
!web/package-lock.json
!web/src/i18n/*.json
