worldpass-beta.heptapusgroup.com {
    encode gzip

    @api path /api/* /docs* /redoc*
    handle @api {
        reverse_proxy worldpass-real-backend-1:8000
    }

    handle {
        reverse_proxy worldpass-real-frontend-1:4173
    }
}

ipfs.worldpass-beta.heptapusgroup.com {
    reverse_proxy ipfs:8080
}

heptapusgroup.com www.heptapusgroup.com {
    encode gzip
    reverse_proxy heptapus_web:3000
}

mail.heptapusgroup.com {
    encode gzip
    reverse_proxy mailcowdockerized-nginx-mailcow-1:8445 {
        transport http {
            tls_insecure_skip_verify
        }
    }
}

admin.mail.heptapusgroup.com {
    encode gzip
    basic_auth {
        admin $2a$14$EHDBtQRyBaJEGvUToCI63eg/rKhzBcRMCdMsrP.IWoFXTKUxR963e
    }
    reverse_proxy mailcowdockerized-nginx-mailcow-1:8445 {
        transport http {
            tls_insecure_skip_verify
        }
    }
}

heptabot.heptapusgroup.com {
    encode gzip
    reverse_proxy 127.0.0.1:5173
}

api.heptabot.heptapusgroup.com {
    encode gzip
    reverse_proxy 127.0.0.1:8000
}

net.heptapusgroup.com,
flux.heptapusgroup.com,
dynamics.heptapusgroup.com,
sense.heptapusgroup.com,
shield.heptapusgroup.com,
ware.heptapusgroup.com,
certificates.heptapusgroup.com,
core.heptapusgroup.com {
    encode gzip
    reverse_proxy heptapus_web:3000
}
