version: "3.9"

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    env_file:
       - .env
    volumes:
      - ./data:/data

    restart: unless-stopped

  frontend:
    build:
      context: ./web
      dockerfile: Dockerfile
    depends_on:
      - backend
    restart: unless-stopped

  caddy:
    image: caddy:2.8
    depends_on:
      - backend
      - frontend
    ports:
      - "80:80"
      # DNS + HTTPS gelince açılacak:
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
      - ./data/caddy:/data   
      - ./data/config:/config
    restart: unless-stopped

